.title {
    background-color: rgb(46, 206, 46);
    margin: 1rem;
    padding: auto;
    text-align: center;
}

.pic {
    max-width: 100%;
}

body {
    margin: 0 auto;
    padding: 1rem;
}

ul {
    border: 1px solid black;
}

iframe {
    width: 90%;
    height: 100vh;
}